@model List<TimeKeepers_v2.Models.MWatch>

@{
    ViewBag.Title = "Delete Product";

}

<div id="wrapper" class="wrapper">


    <br />
    <div class="row text-center">

        @foreach (var r in Model)
        {

          
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="thumbnail ">
                        <img src="@Url.Content(r.Image)" alt="Image" />
                        <div class="caption">

                            <p>
                                <label>@r.Name</label><br />
                                <label>@r.Price</label>
                                <br />
                               
                                <a href="DeleteProduct?ref=@r.Id" class="btn btn-danger" type="submit">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
           

        }

        <br />

    </div>

</div>





