<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Script/bootstrap.js"></script>
</head>
<body background="~/images/background.jpg">

    <div id="wrapper" class="wrapper">


        <style>
            .wrapper {
                margin: 0 auto;
                padding: 0 10px;
                width: 1150px;
            }

            body {
                background-size: cover;
                background-position: top center !important;
                background-repeat: no-repeat !important;
                background-attachment: fixed;
            }
        </style>


        <div class="row">

            <nav class="navbar navbar-form" role="navigation" style="background-color:black">
                <div class="logo-holder alignleft">
                    <div class="text-center">


                        <strong class="logo">
                            <a title="Time Keepers" class="text-center" href="~/Home/Index">
                                <span><font size="15" face=forte color=#FFE4C4 class="text-center">Time Keepers</font></span>
                            </a>



                        </strong>








                        <ul class="nav navbar-nav navbar-right">
                            <li class="level0 nav-1 level-top first parent">
                                <a href="~/Home/Index" class="level-top">
                                    <span><font color="Teal  ">Home</font></span>
                                </a>
                            </li>
                            <li class="level0 nav-1 level-top first parent">
                                <a href="~/Client/About" class="level-top">
                                    <span><font color="Teal  ">About</font></span>
                                </a>
                            </li>
                            <li class="level0 nav-1 level-top first parent">
                                <a href="~/Client/Contact" class="level-top">
                                    <span><font color="Teal  ">Contact</font></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="nav-container" style="background-repeat: repeat-x; border-top: solid 1px #525355; align-content:center">



                    <ul class="nav navbar-nav">
                       
                        <li class="level0 nav-1  level-top first parent">
                            <a href="~/Admin/AddProduct" class="level-top">
                                <span><font color="Teal"> Add Product </font> </span>
                            </a>
                        </li>
                        <li class="level0 nav-1 level-top first parent">
                            <a href="~/Admin/UpdateProduct" class="level-top">
                                <span><font color="Teal  "> Update Product</font> </span>
                            </a>
                        </li>
                        <li class="level0 nav-1 level-top first parent">
                            <a href="~/Admin/DeleteProduct" class="level-top">
                                <span> <font color="Teal  " > Remove Product </font> </span>
                            </a>
                        </li>
                        <li class="level0 nav-1 level-top first parent">
                            <a href="~/Admin/DeleteProductByList" class="level-top">
                                <span> <font color="Teal  "> Remove Product By List </font> </span>
                            </a>
                        </li>
                        <li class="level0 nav-1 level-top first parent">
                            <a href="~/Admin/ViewProducts" class="level-top">
                                <span> <font color="Teal  " > View All Products </font> </span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Admin/index"><span class="glyphicon glyphicon-cloud"></span><font color="Teal  "> Admin</font></a></li>
                        <li><a href="~/Admin/SignOut"><span class="glyphicon glyphicon-log-out"></span><font color="Teal  "> LogOut </font></a></li>
                    </ul>

                </div>


            </nav>
        </div>


    </div>

    @RenderBody()

    



    <div id="wrapper" class="wrapper">
        <div class=" footer-content">

            <p class="text-muted">
                &copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
            </p>


        </div>
    </div>



</body>
</html>